# name: Example CI

# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     strategy:
#       max-parallel: 4
#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v4
#       - name: Set up Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.12.5"
#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements/local.txt
#       - name: Lint with flake8
#         run: |
#           pip install flake8
#           flake8 --config .flake8
#       # Add secrets in github for tests
#       # - name: Django testing
#       #   run: |
#       #     python manage.py test
#       #   env:
#       #     SECRET_KEY: ${{ secrets.SECRET_KEY }}
